/* 日历相关 */
.calendar {
  margin-bottom: 1rem;
	overflow: hidden;
  border-bottom: 1px solid #c3c3c3;
}
.month_control{
  position: relative;
  color: #fff;
}
.calendar_title{
  padding: 0 4.5rem;
  background: #00b90c;
  text-align: center;
  line-height: 3.5rem;
  font-size: 1.5rem;
}
.prev,
.next{
  position: absolute;
  padding: 0.75rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}
#prev_m{
  top: 0;
  left: 1rem;
}
#next_m{
  top: 0;
  right: 1rem;
}
.week{
  background: #00b90c;
  line-height: 3rem;
  font-size: 1.2rem;
  color: #fff;
  overflow: hidden;
}
.days_title {
  width: 14.2857%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}
.dates{
  background: #fff;
  overflow: hidden;
}
.dates li {
  float: left;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  width: 14.2857%;
  box-sizing: border-box;
  text-align: center;
}
.today{
  position: relative;
}
.today:after{
  display: block;
  position: absolute;
  left: 50%;
  bottom: -0.5rem;
  margin-left: -0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100rem;
  background: #00b90c;
  content: ''
}
.date_item {
  display: block;
  margin: 0 auto;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100rem;
  text-align: center;
}
.order .date_item{
  position: relative;
  background: #a8a8a8;
  color: #fff;
}
.order .date_item:before{
  display: block;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #a8a8a8;
  border-radius: 100rem;
  background: #fff;
  content: '订';
  text-align: center;
  line-height: 1rem;
  font-size: 0.5rem;
  color: #a8a8a8;
}
.today .date_item{
   background: #00b90c;
   color: #fff;
}
.today .date_item .lunar{
   color: #fff;
}
.today .date_item:before{
  border: 1px solid #00b90c;
  color: #00b90c;
}
.solar{
  display: block;
  line-height: 2rem;
  font-size: 1.3rem;
}
.lunar {
  display: block;
  color: #999;
  font-size: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.weekend .lunar,
.lunar-style .lunar,
.solar-style .lunar,
.vacation .lunar{
  color: #00b90c;
}
.order .lunar{
  color: #fff;
}

/* 搜索 */
input[type="search"]{
  -webkit-appearance: none;
} 
input::-webkit-search-cancel-button{
  display: none;
}
.search_module{
  padding-bottom: 1rem;
}
.search_bar{
  padding: 0 1rem;
}
.fixed_search{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fff;;
  overflow: hidden;
  z-index: 999;
}
.fixed_search .search_bar{
  padding: 1rem 1.5rem 1rem 0;
  background: #f2f2f2;
}
.search_module .cancle{
  float: left;
  display: none;
  width: 4rem;
  text-align: center;
  line-height: 3.5rem;
  font-size: 1.2rem;
  color: #00b90c;
}
.search_module .search{
  border: 1px solid #00b90c;
  border-radius: 3px;
  height: 3.3rem;
  background: #fff;
  overflow: hidden;
}
.search_module .search .search_btn{
  float: right;
  width: 3.5rem;
  height: 3.3rem;
  border-left: 1px solid #00b90c;
}
.search_module .search .search_btn:before{
  text-align: center;
  line-height: 3.3rem;
  font-size: 2.5rem;
  color: #00b90c;
  
}
.search_module .search .search_clear{
  float: right;
  display: none;
  width: 33.5rem;
  height: 33.3rem;
}
.search_module .search .search_clear:before{
  text-align: center;
  line-height: 3.3rem;
  font-size: 1.6rem;
  color: #d2d2d2;
}
.search_module .search .search_input_bar{
  margin: 0 7.2rem 0 1rem;
  height: 3.3rem;
  line-height: 3.3rem;
}
.search_module .search .search_input_bar input{
  display: block;
  width: 100%;
  font-size: 1.4rem;
  background: none;
}

.search_show{
  display: none;
  border-top: 1px solid #e6e6e6;
  background: #fff;
  
}
.search_show .hot_keywords{
  display: none;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #e6e6e6;
  max-height: 7rem;
  overflow: hidden;
}
.search_show .hot_keywords span{
  display: inline-block;
  margin: 1rem 0.5rem 0 0.5rem;
  border: 1px solid #bebebe;
  border-radius: 1px;
  padding: 0 0.5rem;
  line-height: 2.4rem;
  font-size: 1.2rem;
  color: #999;
}
.search_show .history{
  display: none;
  padding-bottom: 1.5rem;
}
.search_show .u_list li{
  border-bottom: 1px solid #e6e6e6;
  line-height: 4.4rem;
  color: #666;
  font-size: 1.2rem;
}
.search_show .u_list li:last-child{
  border-bottom: none;
}
.search_show .history .u_list{
  padding-left: 1.5rem;
  border-bottom: 1px solid #e6e6e6;
}
.search_show .history .u_list li{
  position: relative;
  padding-left: 1.7rem;
}
.search_show .history .u_list li:before{
  position: absolute;
  top: 1.4rem;
  left: 0;
  width: 1.7rem;
  height: 1.7rem;
  line-height: 1.7rem;
}
.search_show .history .clear_btn{
  display: block;
  margin: 1.5rem auto 0;
  border: 1px solid #666;
  border-radius: 4px;
  width: 59%;
  text-align: center;
  line-height: 3.3rem;
  font-size: 1.4rem;
  color: #666;
}
.search_show .search_sug{
  display: none;
  border-bottom: 1px solid #e6e6e6;
}
.search_show .search_sug .u_list{}
.search_show .search_sug .u_list li{
  padding-left: 1.5rem;
}
.search_show .search_sug .u_list .category{
  font-size: 1.4rem;
  color: #999;
}
.search_show .search_sug .u_list .category span{
  margin: 0.5rem;
  color: #dc4950;
}
.search_show .search_sug .u_list .keyword{
  position: relative;
}
.search_show .search_sug .u_list .keyword .import{
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  text-align: center;
  line-height: 4.4rem;
  font-size: 1.6rem;
  color: #999;
}